[GENERAL_USER_CONFIG]

LOGGING_LEVEL = DEBUG
# Set "DEBUG", "INFO", "WARNING", "ERROR" or "CRITICAL"

# Token to access the Telegram API:
TELEBOT_KEY = xxxxxx

# User Id Telegram
TELEGRAM_USER_ID = xxxxxx