[GENERAL_USER_CONFIG]

LOGGING_LEVEL = DEBUG
# Set "DEBUG", "INFO", "WARNING", "ERROR" or "CRITICAL"

# Token to access the Telegram API:
TELEBOT_KEY = xxxxxx

# Telegram Ids allowed
TELEGRAM_USER_IDS = [xxxxxx, xxxxxx]